{{define "main"}}
<div class="home">
    <h2>{{.Data.Header}}</h2>
    {{if .Data.Posts}}
    {{if .Data.Categories}}
    {{.Data.Page.Num}}
    <form class="categories-form">
        <ul class="categories-list">
            {{range .Data.Categories}}
            <li class="categories_item">
                <input type="checkbox" name="cat" value="{{.Category_id}}" id="c{{.Category_id}}" {{if
                    .IsChecked}}checked{{end}}>
                <label for="c{{.Category_id}}">{{.Category_name}}</label>
            </li>
            {{end}}
        </ul>
        <button class="btn filter-btn" type="submit">Filter</button>
    </form>
    {{end}}
    <ul class="post-list">
        {{range .Data.Posts}}
        <li class="post-item">
            <div class="post-item_user">
                <div class="post-item_user-name">{{.User.User_nickname}}</div>
                <div class="post-item_created">{{humanDate .Created_Time}}</div>
            </div>
            <div class="post-item_wrap">
                <h3 class="title">
                    <a href="/post/view/{{.Post_ID}}">
                        {{.Post_Title}}
                    </a>
                </h3>
                <ul class="post-item_categories-list">
                    {{range .Post_Categories}}
                    <li class="categories_item">
                        {{.Category_name}}
                    </li>
                    {{end}}
                </ul>
            </div>
        </li>
        {{end}}
    </ul>
    {{with .Data.Page}}
    <ul class="pagination">
        {{$pageNum := .Num}}
        {{range $i, $n := .Count}}
        {{if eq $i 0}}
        {{continue}}
        {{end}}
        <li class="pagination_item">
            <a class="{{if eq $pageNum $i}}active{{end}}" href="/?page={{$i}}">{{$i}}</a>
        </li>
        {{end}}
    </ul>
    {{end}}
    {{else}}
    <p>There's nothing to see here yet!</p>
    {{end}}
</div>
{{end}}