{{define "main-styles"}}
<link rel='stylesheet' href='/static/css/home.css'>
{{end}}

{{define "main"}}
<div class="home">
    <h2>Latest Posts</h2>
    {{if .Data}}
    <ul class="post-list">
        {{range .Data}}
        <li class="post-item">
            <h3 class="title">
                <a href="/post/view/{{.PostID}}">
                    {{.Title}}
                </a>
            </h3>
            <p>
                {{.Content}}
            </p>
        </li>
        {{end}}
    </ul>
    {{else}}
    <p>There's nothing to see here yet!</p>
    {{end}}
</div>
{{end}}