{{define "main"}}
<div class="home">
    <h2>Latest Posts</h2>
    {{if .Data.Posts}}
    <ul class="categories">
        {{.Data.Categories}}
    </ul>
    <ul class="post-list">
        {{range .Data.Posts}}
        <li class="post-item">
            <div class="post-item_user">
                <div class="post-item_user-name">{{.User.User_nickname}}</div>
                <div class="post-item_created">{{humanDate .Created_Time}}</div>
            </div>
            <ul class="post-item_categories-list">
                {{range .Post_Categories}}
                <li class="categories-item">
                    c{{.}}
                </li>
                {{end}}
            </ul>
            <div class="post-item_wrap">
                <h3 class="title">
                    <a href="/post/view/{{.Post_ID}}">
                        {{.Post_Title}}
                    </a>
                </h3>
            </div>
        </li>
        {{end}}
    </ul>
    {{else}}
    <p>There's nothing to see here yet!</p>
    {{end}}
</div>
{{end}}