{{define "main"}}
<div class="post-create">
    <h2>Create Post</h2>
    <form class="form" action="/post/create" method="post">

        <label class="label" for="label">Title</label>
        <input class="input" id="title" type="text" name="title" maxlength="50" required>
        <label class="label" for="label">Content</label>
        <textarea class="textarea content-input" name="content" maxlength="2048" required></textarea>
        <label class="label" for="">Tags</label>
        <ul class="categories-list">
            {{range .Data.Categories}}
            <li class="categories_item">
                <input type="checkbox" name="categories" value="{{.Category_id}}" id="c{{.Category_id}}">
                <label for="c{{.Category_id}}">{{.Category_name}}</label>
            </li>
            {{end}}
        </ul>
        <button class="btn submit">Create</button>
    </form>
</div>
{{end}}