{{define "main"}}
<div class="post-view">
    <div class="post-view_header">
        <h2 class="post-view_title">{{.Data.Post_Title}}</h2>
        <div class="post-view_user">
            <b>by {{.Data.User.User_nickname}}</b>
            <br>
            <i>{{humanDate .Data.Created_Time}}</i>
        </div>
    </div>
    <ul class="categories">
        {{range .Data.Post_Categories}}
        <li>
            {{.Category_name}}
        </li>
        {{end}}
    </ul>
    <div class="content">
        <p>{{.Data.Post_Content}}</p>
    </div>
    <form method="post" class="reactions post-reactions">
        <input type="number" name="post-id" value="{{.Data.Post_ID}}" hidden>
        <button class="like-btn" type="submit" name="post-reactions" value="1" {{if not .User}}disabled{{end}}>
            <img src="/static/img/like-{{if .Data.Reactions.IsLike}}color{{else}}default{{end}}.svg" alt="like">
        </button>
        {{.Data.Reactions.Likes}}
        <button class="dislike-btn" type="submit" name="post-reactions" value="-1" {{if not .User}}disabled{{end}}>
            <img src="/static/img/like-{{if .Data.Reactions.IsDislike}}color{{else}}default{{end}}.svg" alt="dislike">
        </button>
        {{.Data.Reactions.Dislikes}}
    </form>

    <div class="comments">
        <h3>Comments</h3>
        {{if .User}}
        <form class="create-comment" method="post">
            <textarea class="create-comment_input" name="comment" maxlength="2048" required></textarea>
            <button class="btn create-comment_btn" type="submit" name="create-comment">Send</button>
        </form>
        {{end}}
        <ul class="comments-list">
            {{$user := .User}}
            {{range .Data.Comments}}
            <li class="comments_item">
                <div class="comments_user">
                    <div class="comments_user-name">{{.User.User_nickname}}</div>
                    <div class="comments_created">{{humanDate .Commentarie_Date}}</div>
                </div>
                <div class="comments_content">
                    <div class="comment_text">
                        {{.Commentraie_Content}}
                    </div>
                    <form method="post" class="reactions comment-reactions">
                        <input type="text" name="comment-id" value="{{.Comment_Id}}" hidden>
                        <button class="like-btn" type="submit" name="comment-reactions" value="1" {{if not $user}}disabled{{end}}>
                            <img src="/static/img/like-{{if .Reactions.IsLike}}color{{else}}default{{end}}.svg"
                                alt="like">
                        </button>
                        {{.Reactions.Likes}}
                        <button class="dislike-btn" type="submit" name="comment-reactions" value="-1" {{if not $user}}disabled{{end}}>
                            <img src="/static/img/like-{{if .Reactions.IsDislike}}color{{else}}default{{end}}.svg"
                                alt="dislike">
                        </button>
                        {{.Reactions.Dislikes}}
                    </form>
                </div>
            </li>
            {{else}}
            <li class="comments_item">
                No comments
            </li>
            {{end}}
        </ul>

    </div>
</div>
{{end}}