{{define "main"}}
<div class="post-view">
    <div class="post-view_header">
        <h2 class="post-view_title">{{.Data.Post_Title}}</h2>
        <div class="post-view_user">
            <b>by {{.Data.User.User_nickname}}</b>
            <br>
            <i>{{humanDate .Data.Created_Time}}</i>
        </div>
    </div>
    <ul class="categories">
        {{range .Data.Post_Categories}}
        <li>
            {{.Category_name}}
        </li>
        {{end}}
    </ul>
    <div class="content">
        <p>{{.Data.Post_Content}}</p>
    </div>
    <div class="reactions post-reactions">
        <img class="like" src="/static/img/like-{{if .Data.Reactions.IsLike}}color{{else}}default{{end}}.svg" alt="like">
        {{.Data.Reactions.Likes}}
        <img class="dislike" src="/static/img/like-{{if .Data.Reactions.IsDislike}}color{{else}}default{{end}}.svg" alt="dislike">
        {{.Data.Reactions.Dislikes}}
    </div>

    <div class="comments">
        <h3>Comments</h3>
        <form class="create-comment" method="post">
            <textarea class="create-comment_input" name="comment"></textarea>
            <button class="btn create-comment_btn" type="submit">Send</button>
        </form>
        <ul class="comments-list">
            {{range .Data.Comments}}
            <li class="comments_item">
                <div class="comments_user">
                    <div class="comments_user-name">{{.User.User_nickname}}</div>
                    <div class="comments_created">{{humanDate .Commentarie_Date}}</div>
                </div>
                <div class="comments_content">
                    {{.Commentraie_Content}}
                    <div class="reactions comment-reactions">
                        <img class="like" src="/static/img/like-{{if .Reactions.IsLike}}color{{else}}default{{end}}.svg" alt="like">
                        {{.Reactions.Likes}}
                        <img class="dislike" src="/static/img/like-{{if .Reactions.IsDislike}}default{{else}}default{{end}}.svg" alt="dislike">
                        {{.Reactions.Dislikes}}
                    </div>
                </div>

            </li>
            {{end}}
        </ul>

    </div>
</div>
{{end}}