{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
</head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/static/css/main.css'>
    <link rel='stylesheet' href='/static/css/{{.PageName}}.css'>
    <title>Forum</title>
</head>
<body>
    <header class="header">
        <h1><a href='/'>Forum</a></h1>
        {{template "nav" .}}
    </header>
    <main class="main">
        {{template "main" .}}
    </main>
</body>
</html>
{{end}}
