.home {

}

.post-list {
}

.post-item {
    margin: 10px 0;
    padding: 10px 25px;
    border: 1px solid rgb(200, 200, 200);
}

.post-item {
    transition: color 0.1s;
}

.post-item:hover {
    color: black;
}

.post-item .title a {
    display: block;
    width: fit-content;
    padding: 5px 20px;
}
