:root {
    font: 1rem monospace;
    color: rgb(70, 70, 70);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    /* display: block; */
    color: inherit;
    text-decoration: none;
}

h2 {
    margin: 50px 20px 30px;
}

h2,
h3 {
    overflow-x: auto;
}

img {
    width: 100%;
    height: 100%;
}

.header {
    border-bottom: 1px solid grey;
}

.header .wrap {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    padding: 0 30px;
}

.header h1 {
    margin: 10px 0;
}

.nav {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-grow: 1;
}

.nav a,
.logout {
    margin-left: 20px;
}

.main {
    width: 80%;
    min-width: 600px;
    max-width: 1000px;
    margin: 0 auto;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 10px 20px;

    font: 16px monospace;
    color: inherit;
    cursor: pointer;

    background-color: rgb(225, 240, 240);
    border: 1px solid white;
    border-top-width: 4px;
    border-bottom-width: 4px;
    transition: border .3s;
}

.btn:hover {
    background: rgb(215, 240, 240);
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.label {
    display: block;
    text-transform: uppercase;
}

.input,
.textarea {
    display: block;
    outline: none;
    padding: 5px 20px;
    width: 100%;
    border: none;
    background-color: rgb(210, 240, 240, .5);
}

.categories-list {
    display: flex;
    flex-wrap: wrap;
}

.categories-list input {
    display: none;
}

.categories-list input+label {
    display: block;
    padding: 5px 20px;
    margin: 5px 5px;
    font-size: .8em;
    cursor: pointer;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 1em;
    transition: background-color .2s;
}

.categories-list input+label:hover {
    background-color: rgb(215, 235, 240);
}

.categories-list input:checked+label {
    background-color: rgb(215, 240, 240);
    border-color: transparent;
}

:root {
    font: 1rem monospace;
    color: rgb(70, 70, 70);
}

@media screen and (max-width: 850px) {
    :root {
        font-size: 0.8rem;
    }

    .main {
        width: 95%;
        min-width: 400px;
    }

    .header h1 {
        margin: 0;
    }

    .header .btn {
        padding: 5px 10px;
        font-size: .8em;
        font-weight: bold;
    }

    .nav a,
    .logout {
        margin-left: 5    .nav a,
        .logout {
            margin-left: 20px;
        }px;
    }
}