.post-view_header {
    margin-top: 100px;
    margin-bottom: -20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-view_user {
    text-align: right;
    color: rgb(40, 80, 0);
}

.categories {
    color: rgb(0, 100, 100);
    font-size: .8em;
    font-style: italic;
    font-weight: bold;
}

.content {
    margin-top: 30px;
}

.reactions {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    height: 30px;
}

.reactions img {
    width: 70px;
}

.reactions .dislike {
    transform: rotate(180deg);
}

.comments {
    margin-top: 30px;
}

.comments h3 {
    border-bottom: 1px solid rgb(210, 210, 210);
}
.comments_item {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: rgb(235, 250, 250);
}
.comments_user {
    display: flex;
    align-items: center;
}
.comments_user-name {
    margin-left: 10px;
    color: rgb(40, 80, 0);;
    font-weight: bold;
    font-size: .9em;

}
.comments_created {
    margin-left: 10px;
    font-style: italic;
    color: grey;
    font-size: .6em;
}
.comments_content {
    margin-top: 10px;
    font-size: .8em;

}
.create-comment {
    margin-top: 20px;
}
.create-comment_title {
    font-size: 1em;
}
.create-comment_input {
    margin-top: 10px;
    padding: 10px 20px;
    width: 100%;
    height: 5em;
    border: none;
    outline: none;
    background-color: rgb(235, 250, 250);
}